body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position:absolute;
  width: 100%;
  height:100%;
  background-size: 20px 20px;
  border-radius: 5px;
  background-color: #f9ffff;
  background-image: linear-gradient(45deg,rgba(255,186,238,.1) 25%,transparent 25%,transparent 50%,rgba(255,186,238,.1) 50%,rgba(255,186,238,.1) 75%,transparent 75%,transparent),linear-gradient(-45deg,rgba(255,186,238,.1) 25%,transparent 25%,transparent 50%,rgba(255,186,238,.1) 50%,rgba(255,186,238,.1) 75%,transparent 75%,transparent);
  border: solid 2px #f48fb1;
}

#root{
    position:relative;
    /* height:100%; */
}

.Input_num{
    position:relative;
    height:450px;
    text-align:center;
}
.Input_num_content{
    position:relative;
    top:450px;
}

